<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="videoMapper">
	<!--user表表映射文件-->
	<resultMap id="videoResMap" type="com.guoy.papa.service.model.Video">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="videoName" column="videoName"/>
		<result property="videoPicture" column="videoPicture"/>
		<result property="videoUrl" column="videoUrl"/>
		<result property="aaa" column="aaa"/>
		<result property="bbb" column="bbb"/>
	</resultMap>
	
	
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,title,videoName,videoPicture,videoUrl,aaa,bbb
	</sql>

	<insert id="insertVideo" parameterType="com.guoy.papa.service.model.Video">
		 INSERT INTO t_video
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">id,</if>
			<if test="title != null">title,</if>
			<if test="videoName != null">videoName,</if>
			<if test="videoPicture != null">videoPicture,</if>
			<if test="videoUrl != null">videoUrl,</if>
			<if test="aaa != null">aaa,</if>
			<if test="bbb != null">bbb,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id !=null">#{id},</if>
			<if test="title !=null">#{title},</if>
			<if test="videoName !=null">#{videoName},</if>
			<if test="videoPicture !=null">#{videoPicture},</if>
			<if test="videoUrl !=null">#{videoUrl},</if>
			<if test="aaa !=null">#{aaa},</if>
			<if test="bbb !=null">#{bbb},</if>
		 </trim>
	</insert>
	
</mapper>
