<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="videoMapper">
	<!--user表表映射文件-->
	<resultMap id="videoResMap" type="com.guoy.model.Video">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="videoClass" column="videoClass"/>
		<result property="videoPicture" column="videoPicture"/>
		<result property="videoUrl" column="videoUrl"/>
	</resultMap>
	
	
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,title,videoClass,videoPicture,videoUrl
	</sql>

	<select id="selectVideo" resultMap="videoResMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_video
	</select>

	<insert id="insert" parameterType="com.guoy.model.Video">
		 INSERT INTO t_video
		(title,videoClass,videoPicture,videoUrl)
		 values (#{title},#{videoClass},#{videoPicture},#{videoUrl})
	</insert>

	<insert id="insertVideo" parameterType="com.guoy.model.Video">
		 INSERT INTO t_video
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">id,</if>
			<if test="title != null">title,</if>
			<if test="videoClass != null">videoClass,</if>
			<if test="videoPicture != null">videoPicture,</if>
			<if test="videoUrl != null">videoUrl,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id !=null">#{id},</if>
			<if test="title !=null">#{title},</if>
			<if test="videoClass !=null">#{videoClass},</if>
			<if test="videoPicture !=null">#{videoPicture},</if>
			<if test="videoUrl !=null">#{videoUrl},</if>
		 </trim>
	</insert>

</mapper>
